h1{
    color:black;
    margin-left:30px
}
body{background-color: #e6e7a9;}

.link{
    margin-right:20px
}
.link a{
    margin-left:30px
}
a:link{
    color: rgb(28, 10, 51);
}
a:visited{
    color: rgb(28, 10, 51);
}
.games{
    display:flex;
    justify-content:space-between;
    background-color:rgb(241, 168, 229) ;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p{text-align: center;}
.p1{
    position:relative
}
.p2{
    position:relative
}
.p3{
    position:relative
}
.p1 p{
    position:absolute;
    top:35%;
    left:35%;
    opacity:0
}
.p1:hover p{
    opacity:1
}
.p1:hover img{
    opacity:0.3
}
.p2 p{
    position:absolute;
    top:35%;
    left:35%;
    transform:translate(-50%,-90%);
    opacity:0
}
.p2:hover p{
    opacity:1
}
.p2:hover img{
    opacity:0.3
}

.p3 p{
    position:absolute;
    top:35%;
    left:35%;
    transform:translate(-15%,-90%);
    opacity:0
}
.p3:hover p{
    opacity:1
}
.p3:hover img{
    opacity:0.3
}
